java/RYSOO samples/src/META-INF/wsdl/iabx000002.iabx.net_80/abxWsGestService/abxWsGest.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://xml.netbeans.org/schema/abxProtocol" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="http://xml.netbeans.org/schema/abxProtocol">

<xs:complexType name="abxProtocolResult">
<xs:sequence>
<xs:element name="result" type="xs:unsignedInt"/>
<xs:element name="list" type="tns:abxProtocolList"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="abxProtocolList">
<xs:sequence>
<xs:element name="protocolList" type="tns:abxProtocol" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="abxProtocol">
<xs:sequence>
<xs:element name="allDescription" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="language" type="xs:string" form="unqualified"/>
<xs:element name="description" type="xs:string" form="unqualified"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="defaultLanguage" type="xs:string"/>
<xs:element name="messageId" type="xs:string"/>
<xs:element name="protocolName" type="xs:string"/>
<xs:element name="checkDate" type="xs:boolean"/>
<xs:element name="checkSequenceDate" type="xs:boolean"/>
<xs:element name="annualReset" type="xs:boolean"/>
<xs:element name="format" type="xs:string"/>
<xs:element name="note" type="xs:string"/>
<xs:element name="idProtocol" type="xs:string"/>
<xs:element name="protocolDesc" type="xs:string"/>
<xs:element name="numberLength" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>