java/RYSOO samples/src/META-INF/wsdl/iabx000002.iabx.net_80/abxWsGestService/abxWsGest.xsd_3.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://xml.netbeans.org/schema/abxCan" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="http://xml.netbeans.org/schema/abxCan">

<xs:element name="AbxCan" type="tns:abxCan"/>

<xs:complexType name="abxCan">
<xs:sequence>
<xs:element name="result" type="xs:unsignedInt"/>
<xs:element name="can" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>